*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #dae3e4;
}
.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 2px;
    background: #dae3e4;

}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 47px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}

.marcos_prof {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156px;
    height: 142px;
    margin-bottom: 29px;
    top: 0px;
}

.marcos_name {
    text-align: center;
}

.marcos_contact {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-top: 17px;
    width: 228px;
}

.contact_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 22px;
    border-radius: 50%;
    background: orange;
    filter:drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}

.marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 47px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}

.left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 47px;
}

.marcos_info{
    display: flex;
    gap: 9px;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}

.marcos_info1{
display: flex;
justify-content: space-between;
align-items: center;
}

.marcos_info2{
    background: orange; 
    padding: 5px;
}

.left_3 {
    position: relative;
    width: 221px;
    height: 153px;
    margin-left: 47px;
}

.languages{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.language1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.language_level{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 1px;
    width: 220px;
    height: 6px;
    border-radius: 30px;
    border: 0.5px solid orange;
}

.language_line{
    width: 216px;
    height: 2px;
    text-align: center;
    background: orange;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
}
.left_4 {
    position: relative;
    width: 221px;
    height: 252px;
    margin-left: 47px;
    
}


.left_5 {
    position: relative;
    width: 221px;
    height: 148px;
    margin-left: 47px;
}

.extra_skills{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    /* padding-left: 15px; */
 
}

/* Midd frame */

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;

    /* background-color: white; */
}

.about_me {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 971px;
    height: 454px;
    background-color: white;
    padding-left: 56px;
    
}

.small_figures{
    display: flex;
    position: absolute;
    top: 330px;
    left: 370px;
}

.small_figures2{
    top: 76px;
    left: 892px;
}

.small_figures3{
    top: 37px;
    left: 36px; 
}

.small_figures4{
    top: 378px;
    left: 554px; 
}

.small_figures5{
    top: 419px;
    left: 84px;  
}

.small_figures6{
    top: 59px;
    left: 516px; 
}

.small_figures7{
    top: 424px;
    left: 917px;   
}

.my_image{
    display: flex;
   /* flex: 2; */
   padding-top: 12px; 
   padding-right: 65px;
}

.doctor {
    display: flex;
    /* flex: 6; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 380px;
}

.doctor_title{
    font-weight: 700px;
    font-size: 18px;
}

.doctor_description{
    font-weight: 400px;
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 23px;
}

.btn_hire {
    width: 154px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: orange;
}

.my_service {
    display: flex;
    margin-top: 140px;
   margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my_service h1{
    font-size: 32px;
    font-weight: 700px;
    padding-bottom: 25px;
}

.my_service p {
    font-size: 15px;
    font-weight: 400px;
    color: #767676;
    text-align: center;
    width: 400px;
}

.service_types{
    height: 640px;
    width: 971px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.service_row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.webDev{
    width: 310px;
    height: 225px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.webDev h5 {
    font-weight: 500px;
    font-size: 18px;
    padding-top: 26px;
    padding-bottom: 15px;
}

.webDev p {
    font-weight: 400px;
    font-size: 15px;
    color: #767676;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.webDev button {
    margin-top: 27px;
    border: none;
    background-color: white;
    font-size: 12px;
    color: orange;
    font-weight: bold;
}

/* <!-- Midd frame end --> */

/* Right frame */

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.contrast {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 43px;
}

.fileCode{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #F0F0F6;
}